<div class="album py-5">
  <%= render 'articles/all_articles'%>
  <div class="digg_pagination text-center">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => false %>
  </div>
</div>
