    
<footer class="blog-footer mt-2">
  <p>
    Blog template built for Microverse Ruby on Rails Capstone
    <a href="https://www.microverse.org/">Microverse</a> by
    <a href="https://www.linkedin.com/in/visvaldas-rapalis/">Visvaldas Rapalis</a>.
  </p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
